<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An easy to use application to help DLP teachers teach CS in the classroom">
    <meta name="author" content="Ved Topkar, Tom Silver">

    <title>DLP Class</title>

    <!-- Bootstrap core CSS -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <!-- DLP Stylesheet -->
    <link href="/styles/class.css" rel="stylesheet">

      <!--
        Client-side Javascript
        ========================
      -->
      <!-- Bring in the socket.io client -->
      <script type="text/javascript" src="/js/socket.io.js"></script>
      <!-- then beef it up with some convenience logic for talking to Sails.js -->
      <script type="text/javascript" src="/js/sails.io.js"></script>
      <!-- listen on socket.io for incoming messages -->
      <script type="text/javascript" src="/js/class.js"></script>
      <!-- jquery for some magic -->
      <script type="text/javascript" src="/js/plugins/jquery-1.10.2.min.js"></script>
      <!-- Load ACE editor -->
      <script type="text/javascript" src="/js/plugins/src-min-noconflict/ace.js"></script>
      <!-- Angular.js -->
      <script type="text/javascript" src="/js/plugins/angular.min.js"></script>
      <!-- website js file -->
      <script type="text/javascript" src="/js/dlp.js"></script>
      <!-- Bootstrap JS -->
      <script src="/js/plugins/bootstrap.js"></script>
      <!-- Jquery Idletimer -->
      <script src="/js/plugins/idle-timer.min.js"></script>
      <!-- Angular Extra Scripts -->
      <script src="/js/plugins/angular-resource.min.js"></script>
      <script src="/js/plugins/angular-route.min.js"></script>

  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DLP &lt;Class&gt;</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right navbar-user">
            <% if(req.session.user){%>
              <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"> <%= req.session.user.name %></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                  <li><a href="/user/<%= req.session.user.id %>/settings"><i class="fa fa-gear"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                </ul>
              </li>
            <%} else {%>
              <li>
                <a href="/login" class="navbar-link">Login</a>
              </li>
            <%}%>

          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <% if (flash_error) { %>
          <div class="alert alert-danger"><%= flash_error_message %></div>
        <% } %>
        <% if (flash_notice) { %>
          <div class="alert alert-success"><%= flash_notice_message %></div>
        <% } %>
        

      <%- body %>

        

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->



  </body>
</html>
